*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: roboto;
    font-size: 18px;
}

.top{
    background-color: #0066ff18;
    margin: 1vh 2vh;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header{
    background-color: #00A8F3;
    width: 25%;
    height: 18%;
    border-radius: 20px;
    font-weight: bolder;
    color: white;
    display: flex;    
    flex-direction: column;     
    justify-content: center;    
    align-items: center; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.5rem;

}

.svg-area{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-right: 4%;
}

.svg-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.svg-text img{
    margin-bottom: 1rem;
}

.arrow{
    margin-bottom: 15%;
}

.svg3{
    padding-top: 1.3%;
}

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
}

.inputArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub{
    width: 35%;
    margin-bottom: 2%;
}

textarea{
    margin-left: 2%;
    border-radius: 20px;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.527);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.submit{
    width: 20%;
    height: 10%;
    background-color: #0066FF;
    color: white;
    border: none;
    font-size: 1.1rem;
}

.instructions ul{
    list-style: none;
    margin-left: 7%;
}

.instructions ul li::before{
    content: "\2022";
    color: #00A8F3;
    font-weight: bold;
    display: inline-block;
    width: 0.5em; 
    font-size: 1.5em;
}

.output{
    margin-top: 1%; 
    margin-left: 2%;
}

.oSub{
    width: 15%;
    height: 50px;
    margin: auto;
    margin-bottom: 2%;
}

.questions{
    margin-top: 1%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}

.question{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: bolder;
}

.question ul{
    list-style: none;
    display: flex;
}

.question ul li{
    margin-right: 1%;
}


.question ul li::before{
    content: "\2022";
    color: #00A8F3;
    display: inline-block;
    font-size: 2rem;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0066FF; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}