/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: roboto;
    font-size: 18px;
  
}

.top{
    background-color: #0066ff18;
    margin: 1vh 2vh;
    height: 40%;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.header{
    background-color: #00A8F3;
    margin-top: 3%; 
    width: 25%;
    height: 18%;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
        -ms-flex-direction: column;    
            flex-direction: column;     
    -webkit-box-pack: center;     
        -ms-flex-pack: center;     
            justify-content: center;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center; 
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.5rem;

}

.svg-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin-right: 4%;
}

.svg-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-weight: bold;
}

.svg-text img{
    margin-bottom: 1rem;
     height: 55%;
}

.arrow{
    margin-bottom: 15%;
}

.svg3{
    padding-top: 1.3%;
}

.bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
}

.inputArea{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.instructions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sub{
    width: 25%;
    margin-bottom: 2%;
    padding: 0px;
    font-size: 18px;
}

textarea{
    margin-left: 2%;
    border-radius: 20px;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.527);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.submit-bar{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.submit{
    width: 7rem;
    height: 2rem;
    background-color: #0066FF;
    color: white;
    border: none;
    font-size: 1.1rem;
}

.instructions ul{
    list-style: none;
    margin-left: 7%;
}

.instructions ul li::before{
    content: "\2022";
    color: #00A8F3;
    font-weight: bold;
    display: inline-block;
    width: 0.5em; 
    font-size: 1.5em;
}

.output{
    margin-top: 1%; 
    margin-left: 2%;
    font-size: 0.9rem;
}

.oSub{
    width: 15%;
    height: 50px;
    margin: auto;
    margin-bottom: 2%;
}

.questions{
    margin-top: 1%;
    margin-left: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.question{
    margin-bottom: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.bold{
    font-weight: bolder;
}

.question ul{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.question ul li{
    margin-right: 1%;
}


.question ul li::before{
    content: "\2022";
    color: #00A8F3;
    display: inline-block;
    font-size: 2rem;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0066FF; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

footer{
    
    font-size: 0.9rem;
    width: 100%;
    height: 2%;
    text-align: center;
    bottom: 10px;
}
